.nav {
  max-width: 40%;
  margin: auto;

  & ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;

    & li:first-child {
      border-bottom-left-radius: 20px;
    }

    & li:last-child {
      border-bottom-right-radius: 20px;
    }

    & li {
      flex: 1;
      text-align: left;
      background-color: rgb(212, 204, 204);
      color: black;

      & a:first-child {
        border-bottom-left-radius: 20px;
      }

      & a:last-child {
        border-bottom-right-radius: 20px;
      }

      & a {
        text-decoration: none;
        font-size: 30px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        gap: 10px;
        color: rgb(117, 113, 113);
        padding: 5px 15px;
        letter-spacing: 1px;
        transition: all 0.2s ease-in-out;
        clear: both;
        overflow: hidden;
        border: none;
        outline: none;

        &.active {
          background-color: white;
          color: rgb(75, 75, 235);
          clear: both;
          box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
          -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
          -moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
        }
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .nav {
    max-width: 100%;

    & ul {
      & li:first-child {
        border: 0;
      }

      & li:last-child {
        border: 0;
      }

      & li {
        & a:first-child {
          border-bottom-left-radius: 0;
        }

        & a:last-child {
          border-bottom-right-radius: 0;
        }
      }
    }
  }
}
