.notification {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  gap: 30px;
  margin: 10px;
  position: sticky;
  top: 10px;
  z-index: 10;
  background-color: white;

  & h3 {
    font-size: 25px;
  }

  & button {
    font-size: 40px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
  }
}
