.form {
  max-width: 30%;
  margin: auto;
  padding-top: 20px;
  background-color: rgba(36, 34, 34, 0.8);
}

.control {
  padding: 10px 20px;

  & input,
  & label {
    display: block;
    width: 100%;
  }

  & input {
    color: black;
    padding: 7px 10px;
  }

  & label {
    color: white;
    margin-bottom: 10px;
    font-size: 20px;
    letter-spacing: 1px;
  }

  & select {
    padding: 5px;
    width: 50%;

    & option {
      font-size: 20px;
    }
  }
}

.actions {
  margin-top: 3rem;
  padding: 10px 20px;

  & a {
    & button {
      padding: 10px 20px;
      background-color: red;
      color: white;
      border: none;
      border-radius: 3px;
      outline: none;
      cursor: pointer;
      margin-right: 1rem;
    }
  }

  & button {
    padding: 10px 20px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
  }
}
