.portal {
  max-width: 35%;
  width: 100%;
  height: 35vh;
  border: 3px solid black;
  border-radius: 10px;
  background-color: rgba(223, 217, 217, 0.8);
  z-index: 90;
  margin: auto;
  margin-top: 14rem;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  animation: animatePortal .3s ease-in-out;

  & a {
    padding: 10px 20px;
    border: 1px solid red;
    max-width: 20%;
    text-decoration: none;
    background-color: red;
    color: white;
    margin-left: 1.2rem;
    text-align: center;
  }
}

@keyframes animatePortal {
  from {
    margin-top: -10rem;
  } to {
    margin-top: 14rem;
  }
}
