.login {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  border: 1px solid black;
  border: none;
  outline: none;

  & button {
    padding: 5px 10px;
    background-color: rgb(125, 121, 129);
    color: white;
    border: none;
    outline: none;
    max-width: 70px;
    min-height: 70px;
    border-radius: 50%;
    cursor: pointer;
  }
}

.button {
  padding: 5px 10px;
  background-color: rgb(125, 121, 129);
  color: white;
  border: none;
  outline: none;
  max-width: 70px;
  min-height: 70px;
  border-radius: 50%;
  cursor: pointer;
}

@media screen and (max-width: 1000px) {
  .login {
    bottom: .3rem;
    right: .5rem;
  }
}
